.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.container-flex {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-footer {
  // margin: auto;
  padding-bottom: 60px;
  text-align: center;
}
.footer-contacts {
  margin-top: 20px;
  padding-left: 0;
}
.contacts {
  font-style: normal;
  margin-top: 8px;
}
.contacts-nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts-link {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.subscription {
  // display: inline-block;
  text-align: center;
  // width: 570px;
  // height: 86px;
}
.subscription-title {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscription-mail {
  display: block;

  margin-top: 20px;
}
.subscription-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: 50px;

  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus,
  &:hover {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}
.subscription-btn {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 10px 28px;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: #188ce8;
  }
  &::after {
    content: "";
    width: 28px;
    height: 28px;
    margin-left: 10px;
    background-image: url(../images/icons/telegram.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .subscription {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    // display: inline-block;

    // width: 570px;
    // height: 86px;
  }
  .subscription-input {
    width: 450px;
  }
  .subscription-mail {
    // max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-flex {
    // position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 768px;
  }
  .container-footer {
    margin-left: 61px;
  }
  .subscription {
    width: 768px;
  }
  .subscription-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-top: 9px;
  }
  address {
    margin-top: 20px;
  }

  .contacts-link {
    margin-top: 9px;
  }

  .container-flex {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container-footer {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 231px;
    text-align: start;
  }

  .footer-address {
    display: block;
  }

  .subscription {
    //   display: inline-block;

    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
  .subscription-title {
    text-align: start;
  }
  .subscription-mail {
    display: flex;
    justify-content: space-between;
  }
  .subscription-input {
    display: flex;
    min-width: 358px;
    margin: 0;
  }

  .subscription-btn {
    margin: 0;
  }
}
// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }
// .footer-contacts {
//   padding-left: 0;
// }

// .contacts {
//   font-style: normal;
//   margin-top: 9px;
// }
// address {
//   margin-top: 20px;
// }
// .contacts-nav {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--primary-white-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
// .contacts-link {
//   margin-top: 9px;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: rgba(255, 255, 255, 0.6);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .container-flex {
//   position: relative;
//   display: flex;
//   align-items: baseline;
//   width: 1200px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }
// .container-footer {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
//   width: 231px;
// }

// .footer-address {
//   display: block;
// }

// .subscription {
//   display: inline-block;

//   width: 570px;
//   height: 86px;
//   margin-left: 93px;
// }
// .subscription-title {
//   display: block;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--primary-white-color);
// }
// .subscription-mail {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
// }
// .subscription-input {
//   width: 358px;
//   height: 50px;

//   padding: 15px 16px;
//   background-color: transparent;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//   border-radius: 4px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &::placeholder {
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }
//   &:focus,
//   &:hover {
//     outline: none;
//     border: 1px solid var(--accent-color);
//   }
// }

// .subscription-btn {
//   display: inline-flex;
//   align-items: center;
//   justify-content: flex-end;

//   padding: 10px 28px;
//   min-width: 200px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   color: #ffffff;
//   background-color: var(--accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   cursor: pointer;
//   border-radius: 4px;
//   border: 0;
//   text-align: center;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus,
//   &:active {
//     background-color: #188ce8;
//   }
//   &::after {
//     content: "";
//     width: 28px;
//     height: 28px;
//     margin-left: 10px;
//     background-image: url(../images/icons/telegram.svg);
//     background-size: contain;
//     background-origin: border-box;
//   }
// }
